annotated-types
anyio
click
dnspython
email-validator
exceptiongroup
fastapi
greenlet
h11
idna
importlib-metadata
python-jose[cryptography]
passlib
psycopg2-binary
pydantic
pydantic-core
sniffio
SQLAlchemy
starlette
typing-extensions
uvicorn
zipp
